*{
  margin: 0;
  padding: 0;
  box-sizing: bporder-box;
}

html,
body
{line-height: 1.4;
  font-weight: 300;
}

.hero_section
{
background-image: url(Project-1/images/work3.png);
min-height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
